#root {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* My Styles */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  margin: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #646cff;
}

.site-title {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

/* Apply Poppins to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0; /* Optional: Reset margin for consistency */
}

/* Apply Roboto to body text */
body, p, li, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main-page-container {
  display: flex;
  margin: 0px 50px;
  padding: 0px;
}